<footer class="my-5 pt-5 text-secondary text-center text-smal">

	<p>
		Contact
	</p>

	<ul class="list-inline">
		<li>
			<i class="bi bi-envelope"></i>
			<a href='mailto:p.lebranc@gmail.com'>p.lebranc@gmail.com</a>
		</li>

		<hr class='my-3'>

		<li>
			<i class="bi bi-linkedin"></i>
			<a href='https://www.linkedin.com/in/paul-lebranchu-94849b21b/'>
				Linkedin
			</a>
		</li>

		<hr class='my-3'>

		<li>
			<i class="bi bi-github"></i>
			<a href='https://github.com/Paul-Lebranchu'>
				Dépot git
			</a>
		</li>
	</ul>

	{% block Credit %}
	<p>
		Crédits:
	</p>

	<p>
		image favicon  et navbar :
		<img alt = "dessin de corbeau utilisé comme favicon pour notre site" src={{asset('icon/favicon.png') }} width="20 px">
		Image par
		<a href="https://pixabay.com/fr/users/openclipart-vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2025562">
			OpenClipart-Vectors
		</a> de
		<a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2025562">
			Pixabay
		</a>
	</p>
	{% endblock %}

</footer>
