<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

	<div class="container-fluid">
		<ul class="navbar-nav mr-auto">
			<a class="navbar-brand" href="/"> Accueil </a>
			<li class="nav-item dropdown" >
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Culture
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="/culture/africaine">Africaine</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/culture/americaine">Américaine</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/culture/asiatique">Asiatique</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/culture/francaise">Française</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/culture/scandinave">Scandinave</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown" >
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Corbeau
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="/corbeau/brun">Corbeau brun</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/corbeau/desert">Corbeau du désert</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/corbeau/freux">Corbeau freux</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/corbeau/pie">Corbeau pie</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/corbeau/grand">Grand corbeau</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="/corbeau/petit">Petit corbeau</a>
					</li>
				</ul>
			</li>
      		<li class="nav-item">
				<a class="nav-link" href="/predateur">Prédateurs </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/similaire">Oiseaux similaires </a>
			</li>
			<li>
				<a class="nav-link" href="/forum">Forum </a>
			</li>
		</ul>
		<div class=row>
			<div class="col-sm">
				<form action="/inscription">
					<button type="submit" class="btn btn-outline-light" onclick="window.location.href = '/inscription';">Inscription </button>
				</form>
			</div>
			<div class="col-sm">
				<form action="/connexion">
					<button class="btn btn-outline-light" onclick="window.location.href = '*/connexion';">Connexion</button>
				</form>
			</div>
		</div>
	</div>
 </nav>
