{% extends 'base.html.twig' %}

{% block title %}
	Les oiseaux similaires
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Les oiseaux souvent confondus avec des corbeaux </h1>
	</div>
{% endblock %}
