{% extends 'culture/culture.html.twig' %}

{% block title %}
	Les corbeaux en Afrique
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Les corbeaux en Afrique </h1>
	</div>

	{{ parent() }}
{% endblock %}
