{% extends 'culture/culture.html.twig' %}

{% block title %}
	Les corbeaux en Asie
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Les corbeaux en Asie </h1>
	</div>

	{{ parent() }}
{% endblock %}
