{% extends 'culture/culture.html.twig' %}

{% block title %}
	Les corbeaux dans la mythologie scandinave
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Les corbeaux dans la mythologie scandinave </h1>
	</div>

	{{ parent() }}
{% endblock %}
