<footer class="my-5 pt-5 text-muted text-center text-small">

	<p>
		Contact
	</p>

	<ul class="list-inline">
		<li>
			<i class="bi bi-envelope"></i>
			<a href='mailto:p.lebranc@gmail.com'>p.lebranc@gmail.com</a>
		</li>

		<hr class='my-3'>

		<li>
			<i class="bi bi-linkedin"></i>
			<a href='https://www.linkedin.com/in/paul-lebranchu-94849b21b/'>
				Linkedin
			</a>
		</li>

		<hr class='my-3'>

		<li>
			<i class="bi bi-github"></i>
			<a href='https://github.com/Paul-Lebranchu'>
				Dépot git
			</a>
		</li>
	</ul>

</footer>
