

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Culture
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/culture/africaine">Africaine</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/americaine">Américaine</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/asiatique">Asiatique</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/celte">Celte</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/française">Française</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/grecque">Grecque</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/romaine">Romaine</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/culture/scandinave">Scandinave</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Espèce
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/corbeau/aCollier">À collier</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/aCouBlanc">À cou blanc</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/aGrosBec">À gros bec</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/aNuqueBlanche">À nuque blanche</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/aQueueCourte">À queue courte</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/brun">Brun</a>
						</li>


						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/caledonien">Calédonien</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/corbivau">Corbivau</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/australie">D'Australie</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/edith">D'Édith</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/levaillant">De Levaillant</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/bismark">Des Bismark</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/tasmanie">De Tasmanie</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/torres">De Torres</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/desert">Du désert</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/freux">Freux</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/corbeauPie">Corbeau pie</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/grandCorbeau">Grand corbeau</a>
						</li>

						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/corbeau/petitCorbeau">Petit corbeau</a>
						</li>

					</ul>
				</li>
			</ul>


			<div class="text-right">
				<button class="btn btn-outline-primary" type="submit">Inscription</button>
				<button class="btn btn-outline-primary" type="submit">Connexion</button>
			</div>
		</div>
	</div>
</nav>
