{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}

    <main>
        <div class="py-5 text-center mt-5">
            <p> Page sur les corbeaux dans la mythologie romaine WIP</p>
        </div>
    </main>

    {{ include('footer.html.twig') }}
{% endblock %}
