{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}

    <main>
        <div class="py-5 text-center mt-5">
            <p> Formulaire d'inscription </p>
        </div>
    </main>

    {{ include('footer.html.twig') }}
{% endblock %}
