{% extends 'corbeau/corbeau.html.twig' %}

{% block title %}
	Corbeau du désert
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Corbeau du désert </h1>
	</div>

	{{ parent() }}
{% endblock %}
