{% extends 'corbeau/corbeau.html.twig' %}

{% block title %}
	Corbeau freux
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Corbeau freux </h1>
	</div>

	{{ parent() }}
{% endblock %}
