{% extends 'corbeau/corbeau.html.twig' %}

{% block title %}
	Petit corbeau
{% endblock %}

{% block body %}
	<div class="container">
		<h1> Petit corbeau </h1>
	</div>

	{{ parent() }}
{% endblock %}
